* {
  --orange: #da720b;
  --blue: #111c3a;
  --white: #ffffff;
  font-family: "Kanit", sans-serif;
}

/* Navigation Top Bar */
.bg-base {
  transform: skew(28deg, 0);
  background-color: var(--blue);
  opacity: 0.5;
}
.logo {
  width: 8rem;
}
ul li a {
  margin-left: 2rem;
  text-transform: uppercase;
  color: var(--orange);
  font-weight: 900;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
  background-image: linear-gradient(var(--orange),var(--orange));
}

ul li a:hover {
  background-size: 100% 100%;
  color: var(--white);
}

/* Landing Page */
.background{
  position: absolute;
  top: 0;
  z-index: -50;
}